h1 {
  color: orange;
  font-family: cursive;
}

#titulo {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

.negrilla {
  font-weight: bold;
  font-size: 1.5rem;
}

#cabecera {
  background-color: red;
  width: 100%;
  height: 35vh;
  overflow: hidden;
}

#cuerpo {
  background-color: green;
  width: 100%;
  height: 40vh;
}

body{
    margin:0%;
}

#contTexto{
    background-color:yellow;
    width:50%;
    height:100%;
    float:left;
    text-align: center;
    padding-top:60px;

}

#contImagen{
    background-color:aqua;
    width:50%;
    height:100%;
    float: right ;

}
#tituloCabecera{
    font-size:  4rem;
    font-weight: bold;
}
#subTitulo{
    font-size: 2.8rem;
    font-weight: bold

}